/githubcode/
/githubcode/github_lcd.h
/githubcode/githun_main.c
/build/
/debug/
dist/
html/
nbproject/private/
nbproject/Package-*.bash
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp